
init_data/CytAssist_11mm_FFPE_Human_Colorectal_Cancer_filtered_feature_bc_matrix.h5
init_data/GSE132465_GEO_processed_CRC_10X_cell_annotation.txt
init_data/GSE132465_GEO_processed_CRC_10X_cell_annotation.txt.gz
init_data/GSE132465_GEO_processed_CRC_10X_raw_UMI_count_matrix.txt.gz
